.HelloText {
  font-size: 1.5rem;
  color: white;
}

.DescText {
  /* animation-name: helloTextAnimation; */
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-delay: 0ms;
  font-size: 1.5rem;
  font-weight: 900;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  color: white;
}

@keyframes helloTextAnimation {
  0% {
    color: rgb(206, 12, 206);
  }
  25% {
    color: rgb(243, 77, 77);
  }
  50% {
    color: rgb(96, 207, 101);
  }
  75% {
    color: rgb(109, 156, 194);
  }
  100% {
    color: blrgb(206, 12, 206) ue;
  }
}

.NameText {
  animation-name: nameTextAnimation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 0ms;
  font-size: 2rem;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  color: red;
}

@keyframes nameTextAnimation {
  0% {
    color: rgb(206, 12, 206);
  }
  10% {
    color: rgb(243, 77, 77);
  }
  20% {
    color: rgb(96, 207, 101);
  }
  30% {
    color: rgb(109, 156, 194);
  }
  40% {
    color: rgb(126, 126, 226);
  }
  50% {
    color: rgb(170, 163, 170);
  }
  60% {
    color: rgba(231, 214, 214, 0.438);
  }
  70% {
    color: rgba(233, 228, 245, 0.253);
  }
  80% {
    color: rgb(187, 197, 49);
  }
  90% {
    color: rgb(171, 198, 221);
  }
  100% {
    color: rgb(177, 141, 211);
  }
}

.HomeText {
  animation-name: homeTextAnimation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: forwards;
  animation-delay: 0ms;
  color: red;
  font-size: 2.5em;
  /* margin-top: 10%; */
}

@keyframes homeTextAnimation {
  0% {
    color: rgb(224, 150, 212);
    /* font-size: 1.5em; */
  }
  25% {
    color: yellow;
    /* font-size: 2em; */
  }
  50% {
    color: white;
    /* font-size: 1.5em; */
  }
  75% {
    color: rgb(173, 243, 173);
    /* font-size: 2em; */
  }
  100% {
    color: rgb(224, 150, 212);
    /* font-size: 1.2em; */
  }
}

.main {
  height: 100vh;
  padding: 0;
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../asserts/Port.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  display: flex;
  flex: 1;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  color: #eaeaea;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
